<!DOCTYPE html>
<html>
  <head>
    <%- include ('../templates/header') -%>
  </head>
  <body>
    <%- include ('../templates/nav') -%>

    <div class="container">
        <style>
            table, th, td {
                padding: 10px;
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        
        <h1 class="display-4">Packages Info</h1><br>
        <table>
            <thead>
                <tr>
                    <th>Package Name </th>
                    <th>Item ID </th>
                    <th>Quantity </th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody><% packages735.forEach(function(package){ %>
                <tr>
                    <td><%= package.packageId %> </td>
                    <td><%= package.itemId %> </td>
                    <td><%= package.qty %> </td>
                    <td>
                        <form class="d-inline" action="/editJob/<%=package.packageId%>/<%=package.itemId%>" method="POST">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </form>
                    </td>
                    <td>
                        <form class="d-inline" action="/deleteData/<%=package.packageId%>/<%=package.itemId%>" method="POST">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </form>
                    </td>
                </tr><% }) %>
            </tbody>
        </table><br>
        
        <form action="/">
            <button class="btn btn-light">Home </button>
        </form><br>
        <form action="/addData">
            <button class="btn btn-light">Add Data </button>
        </form>        

    </div>  

    <%- include ('../templates/footer') -%>
  </body>
</html>